{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}

<!-- Content Block -->
{% block content %}
<div class="container-fluid">
    <h2 class='text-center'>General Headlines</h3>
    {{ macro.displayArticle(general)}}
    <hr>

    <h2 class='text-center'>Science Headlines</h3>
    {{ macro.displayArticle(science)}}
    <hr>

    <h2 class='text-center'>Technology Headlines</h3>
    {{ macro.displayArticle(technology)}}
    <hr>

    <h2 class='text-center'>Health Headlines</h3>
    {{ macro.displayArticle(health)}}
    <hr>

    <h2 class='text-center'>Entertainment Headlines</h3>
    {{ macro.displayArticle(entertainment)}}
    <hr>

    <h2 class='text-center'>Business Headlines</h3>
    {{ macro.displayArticle(business)}}
    <hr>
</div>

{% endblock %}
