{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block styles%}
{{ super() }}
<!-- LINKTS TO STYLESHEET HERE -->
{% endblock %}

<!-- Content Block -->
{% block content %}
<div class="container-fluid">
    <h2 class='text-center'>General Headlines</h2>
    <hr>
    {{ macro.displayArticle(general)}}

    <h2 class='text-center'>Science Headlines</h2>
    <hr>
    {{ macro.displayArticle(science)}}

    <h2 class='text-center'>Technology Headlines</h2>
    <hr>
    {{ macro.displayArticle(technology)}}

    <h2 class='text-center'>Health Headlines</h2>
    <hr>
    {{ macro.displayArticle(health)}}

    <h2 class='text-center'>Entertainment Headlines</h2>
    <hr>
    {{ macro.displayArticle(entertainment)}}

    <h2 class='text-center'>Business Headlines</h2>
    <hr>
    {{ macro.displayArticle(business)}}
</div>

{% endblock %}
