<div class="navbar navbar-light bg-light sticky-top navbar-expand-lg shadow">
    <button class="navbar-toggler" aria-expanded="false" data-toggle="collapse" data-target="#mobiNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="collapse navbar-collapse navbar-nav" id="mobiNav">
        <li class="nav-item">
            <a href="/" class="nav-link">HOME</a>
        </li>
        <li class="nav-item">
            <a href="/categories/general" class="nav-link">GENERAL</a>
        </li>
        <li class="nav-item">
            <a href="/categories/health" class="nav-link">HEALTH</a>
        </li>
        <li class="nav-item">
            <a href="/categories/business" class="nav-link">BUSINESS</a>
        </li>
        <li class="nav-item">
            <a href="/categories/technology" class="nav-link">TECHNOLOGY</a>
        </li>
        <li class="nav-item">
            <a href="/categories/science" class="nav-link">SCIENCE</a>
        </li>
        <li class="nav-item">
            <a href="/categories/entertainment" class="nav-link">ENTERTAINMENT</a>
        </li>
        <li class="nav-item">
            <a href="/categories/sports" class="nav-link">SPORTS</a>
        </li>
    </ul>
    <form class="form-inline">
        <div class="btn-group">
            <input type="text" class="form-control form-control-sm" placeholder="Search..." name="query">
            <button class="btn btn-sm btn-success">Search</button>
        </div>
    </form>
</div>