<div class="navbar navbar-light bg-light sticky-top navbar-expand-lg border-bottom border-secondary">
    <button class="navbar-toggler" aria-expanded="false" data-toggle="collapse" data-target="#mobiNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="collapse navbar-collapse navbar-nav" id="mobiNav">
        <li class="nav-item">
            <a href="#" class="nav-link">HOME</a>
        </li>
    </ul>
    <form class="form-inline">
        <div class="btn-group">
            <input type="text" class="form-control form-control-sm" placeholder="Search..." name="query">
            <button class="btn btn-sm btn-success">Search</button>
        </div>
    </form>
</div>